@import "./partials/index.scss";
@import "./components/index.scss";
@import "./pages/index.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Calibre", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

html {
  font-size: 14px;
  height: 100vh;
  overflow: hidden;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
