@import "./partials/index.scss";
@import "./components/index.scss";
@import "./pages/index.scss";
@import "./pages/auth";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Calibre", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 8px;
}

.text-left {
  text-align: left;
}
.input_error {
  color: #c92e2e;
  font-size: 0.875rem;
}
.flexRowCenter{
  @include flexRow();
  place-content: center;
  place-items: center;
}
.gap-30{
  gap: 30px;
}
.flexRowBetween{
  grid-column: 1/-1;
  display: flex;
justify-content: space-between;
width: 100%;
}
.text-right{
  text-align: right;
}
.avatar {
  height: 2.1875rem;
  width: 2.1875rem;
  border-radius: 50%;
}