@import "./partials/index.scss";
@import "./components/index.scss";
@import "./pages/index.scss";
@import "./pages/auth";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Calibre", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

html {
  font-size: 16px;
  // height: 100vh;
  // overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 8px;
}

.text-left {
  text-align: center;
}
.input_error {
  color: #C92E2E;
  font-size: 0.875rem;
}