.dashboard_container{
    .dashboard_container_grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem
   } 
}
.recent_transactions_history{
    h2{
        margin-bottom: 0.75rem;
        font-size: 1.25rem;
        font-weight: 500;
    }
}