.header {
  align-items: center;
  border-bottom: 1px solid var(--greyColorGrey6);
  height: 5.625rem;
  position: relative;
  z-index: $goAboveMyPeers;

  & > svg {
    grid-column: -4/-3;
    justify-self: center;
  }

  &__dropDownMenu {
    // position: absolute;
    background-color: var(--blackColorWhite);
    border: 1px solid #cdcdd0;
    border-radius: 0.625rem;
    top: 4.375rem;
    right: 4rem;

    &--container {
      padding-top: 1.375rem;
      padding-bottom: 1.25rem;
    }
    &--itm {
      a {
        color: var(--blackColorBlack3);
      }

      &:not(:last-child) {
        a {
          padding-bottom: 1.125rem;
        }
      }

      &:nth-child(3) {
        a {
          padding-bottom: 0.5625rem;
        }
      }

      &:last-child {
        border-top: 1px solid #e9eeef;
        cursor: pointer;
        button {
          padding-top: 0.875rem;
          background-color: transparent;
          color: var(--stateColorError);
        }
      }

      a,
      button {
        padding: 0 1.875rem 0 1rem;
        display: flex;
        align-items: center;
        column-gap: 1.25rem;

        @include smallTextRegular;
      }
    }
  }

  .userMenu {
    grid-column: -3/-2;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;

    &__image {
      width: 3.125rem;
      height: 3.125rem;
      object-fit: cover;
      object-position: top;
      border-radius: 50%;
    }
    &__icon {
      transform: rotate(180deg);
    }
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.titleBar {
  height: 6.5rem;
  box-shadow: 0.25rem 0px 0.125rem 0.125rem rgba($color: #000000, $alpha: 0.1);

  &__message {
    grid-column: 2/9;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--headline {
      @include largeTextMedium;
      color: var(--greyColorGrey1);
    }
    &--sub {
      @include normalTextRegular;
      color: var(--greyColorGrey3);
    }
  }
  &__cta {
    grid-column: -5/-2;
    align-self: center;
    justify-self: end;
  }
}
