@import "./loader.scss";
@import "./header.scss";
@import "./navigation.scss";
@import "./dashboard.scss";

.confam {
  display: grid;
  grid-template-columns: 15.625rem 1fr;
  background-color: var(--appBackground);
  position: relative;
  // overflow: scroll;
  overflow: hidden;
  &__sideNav {
    grid-column: 1/2;
    background-color: var(--blackColorWhite);
    position: absolute;
    inset: 0 0 0 0;
    z-index: $sideNavZindex;
    transition: all ease 0.5s;
  }

  &__layout {
    grid-column: 2/-1;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    &--header {
      position: fixed;
      inset: 0 0 auto 15.625rem;
      z-index: $headerZindex;

      &_top,
      &_bottom {
        display: grid;
        grid-template-columns: 3.75rem repeat(12, 1fr) 4rem;
        background-color: var(--blackColorWhite);
      }
    }
  }
  &__message {
    grid-template-columns: 7.1875rem 19.625rem 1fr;
    transition: all 0.5s ease;

    .messagescontainer {
      grid-column: 2/3;
    }
    .confam__layout {
      grid-column: 3/-1;

      &--header {
        inset: 0 0 auto 26.8125rem;
        transition: inset 0.5s ease;
      }
    }
  }
}

.notice {
  padding: 0.5rem 1.5rem 1rem 1.5rem;
  border: 1px solid #ff7a7a;
  border-radius: 0.5rem;
  background: #fedfdf;
  display: flex;
  column-gap: 0.5rem;
  margin: 1.5rem 0 2rem 0;

  &__container {
    display: flex;
    flex-direction: column;

    &--headline {
      @include mediumTextMedium;
      color: var(--greyColorGrey1);
    }
    &--sub {
      @include normalTextMedium;
      color: var(--greyColorGrey3);
    }

    button {
      align-self: flex-start;
      line-height: 0;
      height: 2rem;
    }
  }
}

