.loadercontainer {
  height: 100%;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 1em solid var(--greyColorGrey4);
  border-top: 1em solid var(--greyColorGrey3);
  border-radius: 50%;
  width: 7.5em;
  height: 7.5em;
  animation: spin 2s linear infinite;
}
