.nav {
  padding-left: 1rem;
  box-shadow: 0px 0px 0.1875rem 0px #0000001a;
  z-index: $goAboveMyPeers;
  height: 100%;
  &__logo {
    display: flex;

    padding: 1.25rem 1.25rem 0 0.25rem;
    margin-bottom: 4.5rem;
    margin-top: 1.25rem;
    background-image: url(../../../images/logo.svg);
    width: 13.125rem;
    height: 3.125rem;
    background-size: contain;

    // backs
    svg {
      height: 3.125rem;
      width: 100%;
    }
    h1 {
      line-height: 1.25rem;
      font-weight: 600;
    }
  }
  &_icon {
    width: 24px; //please leave so the icon remain in the right size
    height: 100%;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1.875rem;
  }
  &__item {
    &--wrapper {
      display: flex;
      padding: 0.625rem 3rem 0.25rem 3rem;
      background-color: transparent;
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
      align-items: flex-end;
      column-gap: 1rem;
      color: var(--greyColorGrey3);
      @include mediumTextMedium;

      svg {
        align-self: flex-start;
      }

      &__active {
        background: #f9fafc;
        position: relative;
        color: var(--brandColorPrimary4);
        svg {
          rect {
            stroke: var(--brandColorPrimary4);
            fill: var(--brandColorPrimary4);
          }
          & > path,
          g {
            fill: var(--brandColorPrimary4);
          }
          path:nth-child(2) {
            stroke: var(--brandColorPrimary4);
          }
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 0.25rem;
          height: 100%;
          background-color: var(--brandColorPrimary4);
        }
      }
    }
  }
}
