@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1.75rem);
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 90px;
  }
  100% {
    background-position: 180px;
  }
}
