:root {
  --stateColorInfo: #2f80ed;
  --stateColorSuccess: #27ae60;
  --stateColorWarning: #e2b93b;
  --stateColorError: #e01d1d;
  --blackColorBlack1: #0a0a0a;
  --blackColorBlack2: #11171d;
  --blackColorBlack3: #282828;
  --blackColorWhite: #ffffff;
  --greyColorGrey1: #333333;
  --greyColorGrey2: #4f4f4f;
  --greyColorGrey3: #828282;
  --greyColorGrey4: #bdbdbd;
  --greyColorGrey5: #e0e0e0;
  --greyColorGrey6: #ebebeb;

  --brandColorPrimary9: #d6d6ff;
  --brandColorPrimary8: #aaddff;
  --brandColorPrimary7: #7070ff;
  --brandColorPrimary6: #4737ff;
  --brandColorPrimary5: #1f1fff;
  --brandColorPrimary4: #044da1;
  --brandColorPrimary3: #00008e;
  --brandColorPrimary2: #000066;
  --brandColorPrimary1: #00003d;

  --colorPrimary: #092c4c;
  --appBackground: #f5f5ff;

  --brandColorSecondary6: #fff8d6;
  --brandColorSecondary5: #fff0ad;
  --brandColorSecondary4: #ffe985;
  --brandColorSecondary3: #ffdd47;
  --brandColorSecondary2: #ffd100;
  --brandColorSecondary7: #ffac12;
  --brandColorSecondary8: #ff931c;
  --brandColorSecondary9: #ff7500;
  --brandColorSecondary1: #ffc00e;

  --tagBg1: #fef4d7;
  --tagCl1: #4f4f4f;

  --tagBg2: #d5e2f9;
  --tagCl2: #456fba;

  --tagBg3: #f8f8f8;
  --tagCl3: #828282;

  --tagBg4: #dcf0ea;
  --tagCl4: #419078;

  --tagBg5: #fedfdf;
  --tagCl5: #f96060;

  --tagBg6: #bdefff;
  --tagCl6: #828282;

  --brandColorTertiary9: #c2ebff;
  --brandColorTertiary8: #99ddff;
  --brandColorTertiary7: #70cfff;
  --brandColorTertiary6: #47c2ff;
  --brandColorTertiary5: #00aaff;
  --brandColorTertiary4: #0096e0;
  --brandColorTertiary3: #3477b3;
  --brandColorTertiary2: #005f8f;
  --brandColorTertiary1: #00537a;
}
