
@font-face {
    font-family: "Calibre";
    src: url("../../fonts/CalibreRegular.otf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Calibre",;
    src: url("../../fonts/CalibreMedium.otf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Calibre",;
    src: url("../../fonts/CalibreSemibold.otf");
    font-weight: 600;
    font-style: normal;
}       
@font-face {
    font-family: "Calibre",;
    src: url("../../fonts/CalibreBold.otf");
    font-weight: 700;
    font-style: normal;
}       

@mixin h1Bold {
font-family: "Calibre";
font-size: 4rem;
font-weight: 700;
line-height: 4.8125rem;
letter-spacing: 0em;
}

@mixin h2SemiBold {
font-size: 3.5rem;
font-weight: 600;
line-height: 4.1875rem;
letter-spacing: 0em;
}

@mixin h3SemiBold {
font-size: 3rem;
font-weight: 600;
line-height: 3.625rem;
letter-spacing: 0em;
}
 @mixin h4SemiBold {
font-size: 2.5rem;
font-weight: 600;
line-height: 3rem;
letter-spacing: 0em;
 }

 @mixin h5SemiBold {
font-size: 2rem;
font-weight: 600;
line-height: 2.5rem;
letter-spacing: 0em;
 }

 @mixin h5Medium {
font-size: 2rem;
font-weight: 500;
line-height: 2.5rem;
letter-spacing: 0em;
 }

 @mixin largeTextSemiBold {
font-size: 1.5rem;
font-weight: 600;
line-height: 1.875rem;
letter-spacing: 0em;
 }

 @mixin largeTextMedium {
font-size: 1.5rem;
font-weight: 500;
line-height: 1.8125rem;
letter-spacing: 0em;
 }

 @mixin largeTextRegular {
font-size: 1.5rem;
font-weight: 400;
line-height: 1.875rem;
letter-spacing: 0em;
 }

 @mixin mediumTextSemiBold {
font-size: 1.25rem;
font-weight: 600;
line-height: 1.875rem;
letter-spacing: 0em;
 }

 @mixin mediumTextMedium {
font-size: 1.25rem;
font-weight: 500;
line-height: 1.875rem;
letter-spacing: 0em;
 }

 @mixin mediumTextRegular {
font-size: 1.25rem;
font-weight: 400;
line-height: 1.875rem;
letter-spacing: 0em;
 }

 @mixin normalTextSemiBold {
font-size: 1.125rem;
font-weight: 600;
line-height: 1.5rem;
letter-spacing: 0em;

 }

 @mixin normalTextMedium {
font-size: 1.125rem;
font-weight: 500;
line-height: 1.375rem;
letter-spacing: 0em;
 }

 @mixin normalTextRegular {
font-size: 1.125rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0em;
 }
 
 
 @mixin smallTextSemiBold {
font-size: 1rem;
font-weight: 600;
line-height: 1.5rem;
letter-spacing: 0em;
 }

 @mixin smallTextMedium {
font-size: 1rem;
font-weight: 500;
line-height: 1.5rem;
letter-spacing: 0em;
 }

 @mixin smallTextRegular {
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0em;
 }

 @mixin smallerText {
font-size: 0.875rem;
font-weight: 500;
line-height: 1.0625rem;
letter-spacing: 0.08em;
 }
 @mixin smallestText {
font-size: 0.875rem;
font-weight: 400;
line-height: 1.0625rem;
letter-spacing: 0.08em;
 }

 .normalTextMedium{
    @include normalTextMedium
 }
 .smallTextMedium{
    @include smallTextMedium
 }