.btn {
    border-radius: 0.5rem;
    // display: flex;
    border: 1px solid transparent;
    cursor: pointer;
    // align-items: center;
    // line-height: 0 !important;
    text-align: center;
    

    &__normal {
        padding: 0.75rem 2rem;
        @include normalTextMedium; //18
        height: 3.5rem;
    }
    &__tiny{
        padding: 0.375rem 0.5rem;
        @include smallerText; //14
        height: 2rem;
    }

    &__small {
        padding: 0.5rem 0.875rem;
        @include smallTextMedium; //16
        height: 3rem;
    }
    &__medium {
        padding: 0.75rem 2rem;
        @include mediumTextMedium; //20
        height: 3.75rem;
    }
    &__large {
        padding: 0.75rem 2rem;
        @include largeTextMedium; //24
        height: 4rem;
    }

    &__normal, &__medium,
    &__large {
        &__text{
            box-shadow: 0px 0.25rem 2.125rem 0px #092C4C3D;
            padding: 0.75rem calc(2rem - 1.1875rem);
            display: flex;
            align-items: center;
            justify-items: center;
            gap: 1.1875rem;
            &>span{
                position: relative;
            }
        }
    }
    &Primary,
    &Secondary {
        color: var(--blackColorWhite);
    }

    

    &Primary {
        background-color: var(--brandColorPrimary1);
        // &:hover:not(:disabled){
            // background-color: #000026;
        // }
        &:active:not(:disabled){
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
            linear-gradient(0deg, #092C4C, #092C4C);
        }
        &:disabled{
            cursor: not-allowed;
            background-color: var(--greyColorGrey5);

            & > span {
                &::before,
                &::after{
                    background-color: var(--greyColorGrey4);
                }
            }
        }
    }
    &Secondary {
        background-color: var(--brandColorSecondary1);
    }

    &__icon{
        border-radius: 50%;
        padding: 1.1875em;
        position: relative;
        box-shadow: 0px 0.25rem 2.125rem 0px #092C4C3D;
    }

    &__ort{
        flex-direction: row-reverse;
    }

    &Primary,
    &Secondary {
        
        &__outline{
            background-color: var(--blackColorWhite);
            border: 2px solid var(--colorPrimary);
            color: var(--grayColor3);
    
            &:hover:not(:disabled){
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
                linear-gradient(0deg, #092C4C, #092C4C);
                border-color:  rgba($color: #092C4C , $alpha: 0.8);
    
            }
            &:active:not(:disabled){
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
                linear-gradient(0deg, #092C4C, #092C4C);
                color: var(--greyColorGrey1);
                border-color:  rgba($color: #092C4C , $alpha: 1.0);
            }
            &:disabled{
                color: var(--greyColorGrey5);
                background: var(--blackColorWhite);
                border: 2px solid var(--greyColorGrey4);
            }
    
        }
    }
}

.iconPlus,
.iconMinus,
.iconLess,
.iconGreat{
  width: 1.125rem;
  height: 1.125rem;
  
  &::after,
  &:not(.iconMinus)::before{ // all but iconMinus
    position: absolute;
    border-radius: 2px;
    width: 1.125rem;
    height: 0.1125rem;
    content: "";
    background-color: var(--blackColorWhite);
  }
  
  &:not(.iconGreat,.iconLess){ //iconPlus && iconMinus
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:not(.iconMinus)::before{ //iconPlus
      transform: rotate(90deg);
    }
  }
  
  &:not(.iconMinus,.iconPlus){ //iconGreat && iconLess
    display: block;
    position: relative;

    &::before{
      transform: rotate(-45deg) ;
      top: 5px;
    }

    &::after{
      transform: rotate(45deg) ;
      top: 11px;
    }

    &::before,
    &::after{
      position: absolute;
      width: 0.625rem;
      height: 0.125rem;
      left: 25%;
    }

    &:not(.iconLess){ //iconGreat
      transform: rotate(180deg) ;
    }
  }
}

[role="menuitem"]{
    &:active,
    &:hover{
        outline: none;
    }
}