.new_transaction {
  overflow: hidden;
  &_container {
    border-radius: 16px;
    width: 834px;
    max-height: 646px;
    overflow-y: scroll;
    padding: 0 1.75rem 10.5rem 1.75rem;
    &::-webkit-scrollbar {
      display: none;
    }

    textarea,
    input {
      display: block;
      padding: 17px 16px;
      border: 1px solid #bdbdbd;
      border-radius: 4px;
    }

    form {
      .milestone {
        margin-top: 2rem;
        padding: 1.5rem 2rem;
        border: 2px dashed #bdbdbd;
        border-radius: 4px;
        .add_milestone_div {
          justify-content: flex-end;
        }
        &_form_input {
          min-width: 319.62px !important;
        }
      }

      h5 {
        color: #4f4f4f;
        font-weight: 500;
        font-size: 1.25rem;
        width: 100%;
        border-bottom: 1px solid var(--greyColorGrey910);
        padding-bottom: 0.73rem;
        margin-bottom: 2rem;
        margin-top: 1.5rem;
      }
      h6 {
        font-weight: 500;
        font-size: 1.125rem;
        color: #4f4f4f;
        margin-bottom: 1.06rem;
      }
      .form_row {
        @include flexRow;
        margin-bottom: 2rem;
        gap: 2rem;
        label {
          font-weight: 500;
          font-size: 1.125rem;
          color: #4f4f4f;
        }

        .form_group {
          flex: 1;
          input {
            width: 100%;
          }
        }
      }
      .insurance_div {
        @include flexRow;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        margin-top: 1.06rem;
      }
      .check_div {
        @include flexRow;
        gap: 7px;
        align-items: center;
        color: var(--greyColorGrey3);
        @include smallTextRegular;
      }
      .add_product {
        justify-content: flex-end;
        span {
          width: 116px;
          margin-left: auto;
        }
      }
    }

    .new_transaction_header {
      position: sticky;
      top: 0;
      padding-top: 1.5rem;
      @include flexRow;
      justify-content: center;
      z-index: 11;

      &_title {
        flex: 1;
        p {
          text-align: center;
          margin-top: 0.5rem;
          @include smallTextMedium;
          color: var(--greyColorGrey3);
        }
      }

      h4 {
        font-weight: 500;
        font-size: 1.5rem;
        color: #333333;
        width: 100%;
        text-align: center;
      }

      button{
        background-color: transparent;

      }
      // .close_div {
      // @include flexRow;
      // width: 100%
      // }
    }
    .new_transaction_footer {
      // background-color: var(--blackColorWhite);
      z-index: 11;
      position: fixed;
      inset: auto 0 0 0;
      display: flex;
      justify-content: space-between;
      // padding: 20px 40px 20px 40px;

      padding: 1.25rem 1.75rem 2.5rem 1.75rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      .insurance_break-down {
        @include flexRow;
        gap: 6.45px;
        align-items: flex-start;
        align-content: flex-start;
        font-weight: 500;
        font-size: 20px;
        color: var(--greyColorGrey2);
        .price {
          font-size: 1.125rem;
          font-weight: 500;
          color: var(--stateColorSuccess);
        }
        .vat{
          color: var(--greyColorGrey3);
          font-weight: 400;
        }
      }
      img {
        width: 18px;
      }
      .submit_div {
        @include flexRow;
        align-items: center;
      }
    }

    .transaction_cards_container {
      @include flexRow;
      justify-content: center;
      gap: 4rem;
      margin-top: 7.25rem;

      .transaction_card {
        border: 1px solid var(--greyColorGrey910);
        border-radius: 8px;
        padding: 80px 74.5px;
        font-weight: 500;
        font-size: 2rem;
        color: #4f4f4f;
      }
    }
  }
  // &_form_input {
  //   // min-width: 353px;
  // }
  &_description {
    min-width: 100% !important;
    min-height: 104px;
    padding: 0.79rem 0.97rem;
  }
  &_form_footer {
    @include flexRow;
    margin-top: 4.69rem;
    justify-content: space-between;
    .insurance_break-down {
      @include flexRow;
      gap: 6.45px;
      align-items: flex-start;
      align-content: flex-start;
      font-weight: 400;
      font-size: 20px;
      color: #828282;
      .price {
        font-weight: 500;
        font-size: 1.125rem;
        color: #333333;
      }
    }
    img {
      width: 18px;
    }
    .submit_div {
      @include flexRow;
      align-items: center;
    }
  }
}
textarea {
  min-height: 104px;
}

input#file-upload-button {
  padding: 17px 16px !important;
  min-height: 104px;
}
