.customInput {
  display: flex;
  flex-direction: column;
  width: 320px;
  row-gap: 8px;
  label {
    @include mediumTextSemiBold;
    text-transform: capitalize;
  }
  input {
    border: 1px solid #bdbdbd;
    padding: 16px 60px 16px 24px;
    border-radius: 4px;
  }
}
.tags {
  font-weight: 500;
  line-height: 16.8px;
  padding: 4px 12px;
  border-radius: 40px;
  &__brown {
    background: var(--tagBg1);
    color: var(--tagCl1);
  }
  &__blue {
    background: var(--tagBg2);
    color: var(--tagCl2);
  }
  &__silver {
    background: var(--tagBg3);
    color: var(--tagCl3);
  }
  &__green {
    background: var(--tagBg4);
    color: var(--tagCl4);
  }
  &__red {
    background: var(--tagBg5);
    color: var(--tagCl5);
  }
  &__ocean {
    background: var(--tagBg6);
    color: var(--tagCl6);
  }
}
