@import './profile.scss';
@import './bank.scss';
@import './feedback.scss';
@import './notification.scss';



.setting{
    display: flex;
    background-color: var(--blackColorWhite);
    border-radius: 0.75rem;

    &__navigation{
        padding: 6.25rem 3rem 0 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        border-right: 1px solid var(--greyColorGrey6);
        max-width: 228.01px;
        width: 100%;

        &--item{
            color: var(--greyColorGrey3);
            font-size: 1.125rem;

            @include normalTextMedium;

            &_active{
                color: var(--brandColorPrimary4);
            }
        }
    }
}

