.profile__container {
  width: 100%;
  display: flex;
  // justify-content: center;
  align-items: center;
  padding: 32px 6.31rem;
  &_header {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    align-items: center;
    .profile_image_div {
      position: relative;
      width: 6.25rem;
      height: 6.25rem;
      border-radius: 50%;
      input {
        visibility: hidden;
      }
      .profile_picture_placeholder {
        position: absolute;
        background-position: center;
        border-radius: 50%;
        opacity: 50%;
        background-color: var(--greyColorGrey2);
      }
      .profile_picture {
        position: absolute;
        left: 0;
        top: 0;
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 50%;
        width: 100%;
        object-fit: cover;
        z-index: 9;
        background-color: var(--greyColorGrey2);
        opacity: 0.5;
      }
      p {
        position: absolute;
        z-index: 20;
        left: 0;
        right: 0;
        // transform: translate(-50%,-50%);
        margin: auto;
        top: 70%;
        color: #ffffff;
        font-weight: 500;
        font-size: 14px;
      }
    }
    h4 {
      font-size: 1rem;
      font-weight: 500;
      margin-top: 1rem;
    }
    &-copy {
      display: flex;
      width: 16.25rem;
      height: 3rem;
      border: 1px dashed var(--greyColorGrey2);
      align-items: center;
      justify-content: space-between;
      padding: 0 1.0625rem;
      background-color: #e5f6fe;
      border-radius: 0.625rem;
      margin-top: 1rem;
      .linkText {
        font-weight: 400;
        font-size: 1rem;
        color: var(--greyColorGrey2);
      }
      .copy {
        font-weight: 500;
        font-size: 0.75;
        color: var(--brandColorPrimary4);
      }
    }
  }
  &_form {
    margin-bottom: 2.25rem;
    @include flexColumn;
    gap: 1.5rem;
    // margin-top: 1.5rem;
    align-items: flex-start;
    // form{
    //   margin-top: 1.5rem;
    // }
    label {
      font-size: 1.125rem;
      font-weight: 500;
      color: var(--greyColorGrey1);
    }
    &_input,
    ._3S8bS select {
      display: block;
      outline: 0;
      height: 3.4375rem;
      border: 1px solid var(--greyColorGrey4);
      padding: 1.125rem 1.5rem 0.8125rem 23px;
      width: 29rem;
      margin-top: 0.25rem;
      border-radius: 0.25rem;
      font-size: 1rem;
      font-weight: 400;
      color: var(--greyColorGrey1);
      input {
        border: 0;
        width: 100%;
        padding: 0.625rem 0;
        padding-left: 0.8125rem;
        outline: 0;
        font-size: 1rem;
      }
    }
    .state-input {
      margin-bottom: 1.5rem;
    }
    .flex {
      display: flex;
      align-items: center;
      .input_telephone {
        border-right: 1px solid var(--greyColorGrey4);
        padding-right: 0.5625rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          padding-left: 0.3125rem;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  // width: 0 !important
}
