.profile__container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  &_header{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    .profile_picture{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-position: center;
      opacity: 50%;
      background-color: var(--greyColorGrey2);
    }
    h4{
      font-size: 16px;
      font-weight: 500;
      margin-top:16px;
    }
    &-copy{
      display: flex;
      width: 260px;
      height: 48px;
      border: 1px dashed var(--greyColorGrey2);
      align-items:center;
      justify-content: space-between;
      padding: 0 17px;
      background-color: #E5F6FE;
      border-radius: 10px;
      margin-top: 8px;
      .linkText{
        font-weight: 400;
        font-size: 16px;
        color: var(--greyColorGrey2);
      }
      .copy{
        font-weight: 500;
        font-size: 12px;
        color: var(--brandColorPrimary4);
      }
    }
  }
  &_form{
    margin-bottom: 36px;
    form{
      margin-top: 24px;
    }
    label{
      font-size: 18px;
      font-weight:500;
    }
    &_input{
      display: block;
      outline: 0;
      height: 55px;
      border: 1px solid var(--greyColorGrey4);
      padding: 18px 24px 13px;
      width: 463px;
      margin-top: 4px;
      border-radius: 4px;
      font-size: 16px;
      font-weight:400;
      color: var(--greyColorGrey1);
      input{
        border: 0;
        width: 100%;
        padding: 10px 0;
        padding-left: 13px;
        outline: 0;
        font-size: 16px;
      }
    }
    .flex{
      display: flex;
      align-items: center;
      .input_telephone{
        border-right: 1px solid var(--greyColorGrey4);
        padding-right: 9px;
        font-size: 16px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        span{
          padding-left: 5px;
        }
      }
    }
  }
}