.dispute {
  .table {
    &__display {
      th,
      td {
        .client_div {
          display: flex;
          justify-content: center;
        }

        .tags {
          width: 4.375rem;
          display: flex;
          justify-content: center;
          margin: auto;
        }
      }
      tr {
        th,
        td {
          text-align: center;
          &:nth-child(2) {
            padding: 1.25rem 0;
          }
          &:nth-last-child(2) {
            padding: 0;
          }
        }
      }
    }
  }
}
.disputemodal {
  background-color: var(--blackColorWhite);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  width: 676px;
  height: calc(100vh - 15.375rem);
  overflow: hidden;
  // position: relative;

  &--head {
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1.5rem;
    }
    border-bottom: 1px solid var(--greyColorGrey910);

    .modal {
      &__title {
        @include largeTextMedium;
        color: var(--greyColorGrey1);
      }
      &__subtitle {
        @include mediumTextMedium;
        color: var(--greyColorGrey2);
      }
    }
  }

  &--foot {
    position: absolute;
    bottom: 4rem;
    right: 2rem;
  }
  &--body {
    padding-top: 3.875rem;
    // height:calc(100vh - 15.375rem);
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    .section {
      &:first-child {
        margin-bottom: 4rem;
      }
      &:nth-child(2) {
        margin-bottom: 2rem;
      }
      &:last-child {
        margin-bottom: 5.375rem;
      }
    }

    p {
      margin: 0;
    }
    .transactionModal__payment--total {
      &Sub__body {
        @include smallTextMedium;
        color: var(--greyColorGrey1);
      }
      &Cost__body {
        @include normalTextMedium;
        color: var(--brandColorPrimary4);
      }
    }

    .section__body--itm {
      flex-direction: row;
      &__wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;

        & > .section__body--itm__body {
          @include smallTextMedium;
          color: var(--greyColorGrey1);

          img {
            width: 5.625rem;
            height: 3.375rem;
          }
        }
        .transactionModal__productDesc {
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.5rem;
          width: 242px;
          color: var(--greyColorGrey3);
        }
      }
    }
  }
}

.dispute__wrapper {
  top: 50%;
  transform: translateY(-50%);
}
