.dispute {
  min-width: 950px;
  overflow-x: scroll;
  .table {
    &__display {
      th,
      td {
        .client_div {
          display: flex;
          justify-content: center;
        }

        .tags {
          width: 4.375rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          &__blue {
            width: 6.375rem;
          }
        }
      }
      tr {
        th,
        td {
          text-align: center;
          &:nth-child(2) {
            padding: 1.25rem;
          }
        }
      }
    }
  }
}
.disputemodal {
  background-color: var(--blackColorWhite);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  width: 676px;
  height: calc(100vh - 15.375rem);
  overflow: hidden;
  .tracker_container {
    .tracker_grid {
      display: flex;
      flex-direction: row;
      place-items: center;
      place-content: center;
      .status_container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        place-content: center;
        place-items: center;
      }
      .tracker_divider {
        margin-left: 12px;
        margin-right: 12px;
        position: relative;
        top: -10px;
      }
      .progress_circle {
        width: 50px;
        height: 50px;
        border: 2px solid #bdbdbd;
        border-radius: 50%;
        box-sizing: border-box;
      }
    }

  }

  .border_bottom {
    border-bottom: 1px solid var(--greyColorGrey910);
  }

  &--head {
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1.5rem;
    }

    .modal {
      &__title {
        @include largeTextMedium;
        color: var(--greyColorGrey1);
      }
      &__subtitle {
        @include mediumTextMedium;
        color: var(--greyColorGrey2);
      }
    }
  }

  &--foot {
    position: absolute;
    bottom: 4rem;
    right: 2rem;
  }
  &--body {
    padding-top: 3.875rem;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    .section {
      &:first-child {
        margin-bottom: 4rem;
      }
      &:nth-child(2) {
        margin-bottom: 2rem;
      }
      &:last-child {
        margin-bottom: 5.375rem;
      }
    }

    p {
      margin: 0;
    }
    .transactionModal__payment--total {
      &Sub__body {
        @include smallTextMedium;
        color: var(--greyColorGrey1);
      }
      &Cost__body {
        @include normalTextMedium;
        color: var(--brandColorPrimary4);
      }
    }

    .section__body--itm {
      flex-direction: row;
      &__wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;

        & > .section__body--itm__body {
          @include smallTextMedium;
          color: var(--greyColorGrey1);

          img, .product_img_div, .overlay {
            width: 5.625rem;
            height: 3.375rem;
            border-radius: 4px;
          }
          .product_img_div{
            position: relative;
            .overlay{
              position: absolute;
              background: rgba(68, 68, 68, 0.5);
            }
            .product_display_count{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-weight: 500;
              font-size: 20px;
              line-height: 30px;   
              color: #FFFFFF            }
          }
        }
        .transactionModal__productDesc {
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.5rem;
          width: 242px;
          color: var(--greyColorGrey3);
        }
      }
    }
  }
}

.dispute__wrapper {
  top: 50%;
  transform: translateY(-50%);
}

.m-auto {
  margin: auto;
}

.disputeTags {
  text-transform: capitalize;
  height: 24px;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.25rem 0.75rem;
  border-radius: 2.5rem;
  &__brown {
    background: var(--tagBg1);
    color: var(--tagCl1);
  }
  &__blue {
    background: var(--tagBg2);
    color: var(--tagCl2);
  }
  &__silver {
    background: var(--tagBg3);
    color: var(--tagCl3);
  }
  &__green {
    background: var(--tagBg4);
    color: var(--tagCl4);
  }
  &__red {
    background: var(--tagBg5);
    color: var(--tagCl5);
  }
  &__ocean {
    background: var(--tagBg6);
    color: var(--tagCl6);
  }

}

.dispute_status_container {
  &__header{
    @include flexRow();
    align-content: center;
    align-items: center;
    gap: 4.18px;
    margin-bottom: 15px;
    h4{
      height: 16px;
    }
  }
  margin-top: 3.073rem;
  margin-bottom: 1.5rem;
  border: 2px dashed #cdcdd0;
  border-radius: 10px;
  padding: 0.865rem 2.949rem 0.626rem 1.239rem;
  h4 {
    color: var(--greyColorGrey2);
    font-weight: 500;
  }
  .dispute_info {
    color: var(--greyColorGrey3);
    line-height: 1.5rem;
  }
  &__darkBrown{
    background: #FFFCF0;
  }

  &__darkBlue{
    background: #ECECFF;
  }
  &__darkGreen{
    background: #EDFCF1;
  }
}