.wallet{
    background-color: white;
    height: 983px;
    background-image: url(./../../images/walletBg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 12px;

    h3{
        @include h3SemiBold;
    }
    // background-position: center center;
}