.wallet {
  background-color: white;
  // height: 983px;
  background-image: url(./../../images/walletBg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 12px;

  &__header {
    @include flexColumn;
    padding-top: 64px;
    padding-bottom: 36px;
  }

  &__title {
    @include h3SemiBold;
    color: var(--brandColorPrimary4);
  }
  &__subtitle {
    @include largeTextMedium;
    color: var(--greyColorGrey2);
  }
  .tabSwitch {
    display: flex;
    justify-content: center;

    button {
      @include mediumTextMedium;
      cursor: pointer;
      padding: 0 14px;
      background-color: var(--blackColorWhite);
      color: var(--greyColorGrey3);
      border-bottom: 4px solid var(--greyColorGrey5);
    }
    .activeTab {
      color: var(--brandColorPrimary4);
      border-bottom: 4px solid var(--brandColorPrimary4);
    }
  }

  &__container {
    border-top: 1px solid var(--greyColorGrey6);
    padding-top: 3rem;
    display: flex;
    justify-content: center;
  }

  &__withdraw{
    margin-bottom: 69px;
  }
  &__deposit{
    margin-bottom: 115px;
  }

  &__withdraw,
  &__deposit {
    background-color: var(--blackColorWhite);
    width: 500px;
    border: 1px solid var(--greyColorGrey6);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 8px 0px #ececec8f;

    .formInputWrapper {
      padding: 2rem 2rem 50px 2rem;
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      border-bottom: 1px solid #eaeaea;

      .confirmForm {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        .checkBox .checkmark {
          top: 0;
          transform: translateY(-25%);
        }

        & > p {
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;

          span {
            font-weight: 500;
          }
        }
      }
    }
    .formButtonWrapper {
      padding: 1rem 2rem 2rem 2rem;
      display: flex;
      justify-content: flex-end;
      column-gap: 0.5rem;

      .btnPrimary__outline {
        border-width: 1px;
      }
    }
  }
}

.input__wrapper {
  position: relative;

  input {
    &,
    &::placeholder {
      @include normalTextRegular;
    }
    &::placeholder {
      color: var(--greyColorGrey4);
    }
  }

  svg {
    position: absolute;
    top: 1.25rem;
    left: 1rem;
  }
}

.form__input {
  .customInput {
    row-gap: 10px;
  }

  .form__tooltip {
    display: flex;
    align-items: center;
    margin-top: 6px;
    column-gap: 4px;

    .tooltip__text {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      color: var(--greyColorGrey2);

      span {
        display: inline-block;
        font-weight: 500;

        &::first-letter {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }

  & > label {
    display: block;
    @include normalTextMedium;
    margin-bottom: 10px;
    color: var(--greyColorGrey2);
  }
}

.deposit__info {
  display: flex;
  align-items: center;
  padding-top: 6px;

  p {
    span {
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
    }

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;

    color: var(--greyColorGrey2);
  }
}
