.resetpassword {
  &_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.25rem;
    position: relative;
    &:after {
      content: "";
      background: -webkit-linear-gradient(
        90deg,
        rgba(192, 204, 218, 0.1) 0%,
        rgba(192, 204, 218, 0.6) 36.24%,
        rgba(192, 204, 218, 0.1) 82.77%
      );
      display: block;
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
    h3 {
      color: var(--blackColorBlack3);
      @include largeTextRegular;
    }
    p {
      @include normalTextRegular;
      color: var(--greyColorGrey2);
    }
  }
  &_container {
    max-width: 591px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 20px 1px rgba(0, 0, 102, 0.1);
    border-radius: 1rem;
    margin: auto;
    padding-top: 3.875rem;
    padding-bottom: 5.75rem;

    .seller_container {
      margin-top: 3.5rem;

      &_form {
        row-gap: 2.75rem;
      }
    }
  }
}
