.seller_container {
    margin: auto;
    padding-left: 3.969rem;
    padding-right: 2.813rem;
    .form_group{
      width: 100%;
    }
    .state_div{
        @include flexRow;
        width: 100%;
        justify-content: space-between;
        gap: 20px;
    }
.signup_ta{
    margin-left: 7px;
}
.signup_btn{
    width: 100%;
    @include flexRow;
    justify-content: space-around;
}
.bvn_div label{
   @include flexRow;
   gap: 4px;
   align-content: center;
   align-items: center; 
}

&_form{
    @include flexColumn;
    gap: 1.5rem;
    align-items: flex-start;
    label{
      font-size: 1.125rem;
      font-weight:500;
      color: var(--greyColorGrey1);
    }
    &_input{
      display: block;
      outline: 0;
      height: 3.4375rem;
      border: 1px solid var(--greyColorGrey4);
      min-width: 100%;
      padding-left: 1.4375rem;
      margin-top: 0.25rem;
      border-radius: 0.25rem;
      font-size: 1rem;
      font-weight:400;
      color: var(--greyColorGrey1);
      line-height: 19px;
    }
    .flex{
      display: flex;
      align-items: center;
      .input_telephone{
        border-right: 1px solid var(--greyColorGrey4);
        padding-right: 0.5625rem;
        font-size: 1rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        span{
          padding-left: 0.3125rem;
        }
      }
    }
  }

}

.ts_con label{
    font-size: 1rem;
    font-weight: 400;
    color: var(--greyColorGrey3);
}
.checked_label{
color: var(--brandColorPrimary1) !important;
}